/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap");
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
}

html,
body {
  height: 100%;
}

html,
body {
  height: 100%;
}
